body {
    margin: 0;
    background-color: #363339;
    font-family: "Montserrat", sans-serif;
}

div {
    padding: 15px;
}

#targetText{
    user-select: none;

    background-color: transparent;
    color: rgb(154, 153, 156);

    font-size: 32px;
    font-family: "Montserrat", sans-serif;
}

input {
    margin: 0 auto;
    
    width: 100%;
    border: 0px;
    border-radius: 25px;
    outline:  none;
    min-height: 64px;

    background-color: transparent;
    color: white;

    font-size: 32px;
    font-family: "Montserrat", sans-serif;
}

::placeholder {
    color: rgb(154, 153, 156);
  }

footer {
    color: white;
    position: fixed;
    bottom: 0;
    padding: 15px;
}

a {
    color:white;
}

a:visited {
    color:white;
}

.currentWord{
    color: rgb(255, 228, 77);
}

.oldWord{
    color: rgb(154, 153, 156);
}

.incorrectWord{
    color: rgb(255, 86, 86);
}