:root{
    --bg-colour: rgb(54, 51, 57);
    --secondary-bg-colour: rgb(62, 58, 66);
    --input-bg-colour: rgb(86, 80, 91);
    --secondary-colour: rgb(255, 228, 77);

    --text-colour: rgb(195, 193, 197);
    --input-colour: rgb(243, 243, 243);

    --button-colour: rgb(255, 228, 77);
    --secondary-button-colour: rgb(100, 94, 102);
    --button-text-colour: rgb(73, 73, 73);
    --hover-colour: rgb(185, 165, 53);
}

body {
    margin: 0;
    background-color: var(--bg-colour);
    font-family: "Space Mono", monospace;
    user-select: none;
}

div {
    padding: 15px;
}

#container{
    margin-left: 15%;
    margin-right: 15%;
}

#targetText{
    background-color: transparent;
    color: var(--text-colour);


    font-size: 24px;
}

input {
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
   
    width: 100%;
    border: transparent;
    border-radius: 15px;
    outline:  none;

    min-height: 64px;
    box-sizing: border-box;

    background-color: var(--input-bg-colour);
    color: var(--input-colour);

    font-size: 24px;
    font-family: "Space Mono", monospace;
}

::placeholder {
    color: var(--text-colour);
  }

footer {
    user-select: all;
    color: var(--text-colour);
    position: fixed;
    bottom: 0;
    padding: 15px;
}

table{
    padding: 15px;

    width:100%;
    table-layout: fixed;

    margin-left: auto;
    margin-right: auto;

    background-color: transparent;
    color: var(--text-colour);

    font-size: 32px;
}

td {
    vertical-align:top;
    width: 100%;
}

button {
    padding: 10px;
    margin: 15px;
    width: 50%;

    color: var(--button-text-colour);
    background-color: var(--secondary-colour);
    border: transparent;
    border-radius: 15px;

    font-size: 24px;
    font-family: "Space Mono", monospace;

    cursor: pointer;
}

button:hover {
    background-color: var(--hover-colour);
}

a {
    color: var(--text-colour)
}

a:visited {
    color: var(--text-colour)
}

.results{
    display: none;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

    background-color: var(--secondary-bg-colour);

    border: transparent;
    border-radius: 15px;
}

.noPadding{
    padding: 0px;
}

#test{
    background-color: var(--secondary-bg-colour);
    border: transparent;
    border-radius: 15px;
}

#settings{
    background-color: var(--secondary-bg-colour);
    border: transparent;
    border-radius: 15px;

    margin-top: 15px;
}

.settingsInner{
    display: inline-block;
    padding: 0px;
    margin-right: 5px;
    width: 10%;
}

.settingsLabel{
    padding:0px;
    padding-left: 15px;
    width: 10%;
    color: var(--text-colour);
    font-size: 24px;
}

.settingsButton{
    background-color: var(--secondary-button-colour);
    color: var(--button-text-colour);
    width: 100%;
}

.selectedButton{
    background-color: var(--secondary-colour)
}

.currentWord{
    color: var(--secondary-colour)
}

.previewWord{
    color: rgb(179, 162, 69);
}

.oldWord{
    color: var(--text-colour);
}

.incorrectWord{
    color: rgb(255, 86, 86);
}

.incorrectOldWord{
    color: rgb(190, 74, 74);
}